name: CI/CD

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # - name: Run tests
      #   run: pytest

      # # Deploy step
      # - name: Deploy to server
      #   if: success()
      #   uses: appleboy/ssh-action@v0.1.9
      #   with:
      #     host: ${{ secrets.SERVER_HOST }}      
      #     username: ${{ secrets.SERVER_USER }}  # Server user
      #     key: ${{ secrets.DEPLOY_KEY }}       # SSH private key from GitHub secrets
      #     port: 22
      #     script: |
      #       cd /path/to/deploy/folder
      #       # git pull origin main
      #       # Optional: restart service
      #       # sudo systemctl restart myapp.service
